.nav{
  background-color: var(--bgSoft);
}
.search{
  background-color: #2e374a;
  width: 208px;
}
@media (max-width:767px){
  .search{
    width: 130px;
  }
}

.dropdown{
  background-color: #2e374a;
}
